*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #F7F7FA;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-gray: #BCBCBC;
    --red-span: #A10B18;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05); 
}

.new-invoice-formbody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-invoice-form {
    background-color: white;
}


.new-invoice-parent {
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 600px;
    padding: 25px 50px;
    background-color:white;
    border-radius: 8px;
}

.new-invoice-parent button {
    cursor: pointer;
    height: 50px;
    border-radius: 8px;
    border: none;
}

.new-invoice-parent input {
    border: 2px solid #1e1e1e;
    border-radius: 6px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: var(--primary-color-light);
    
}

.new-invoice-checkbox {
    margin: 0;
    height: 10px;
    width: 10px;
}

.new-invoice-sectiontitle {
    font-size: 18px;
}

.new-invoice-div1 { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    
}  

.new-invoice-div1 .new-invoice-titleinvoice { 
    font-size: 24px;
    font-weight: 600;

}  

.new-invoice-div1 .new-invoice-invoicenumber { 
    font-size: 24px;
} 

.new-invoice-div1 span { 
    font-weight: 600;
} 

.new-invoice-div2 { 
    
    grid-area: 2 / 1 / 3 / 2; 
}

.new-invoice-div2 input { 
    height: 50px;
    width: 100%;
}
.new-invoice-firstinput {
    margin-top: 10px;
    margin-bottom: 15px;
}

.new-invoice-div3 { 
    margin-top: 15px;
    grid-area: 3 / 1 / 4 / 2; 
    
}
.new-invoice-div3section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.new-invoice-div3input {
    width: 350px;
    margin-bottom: 5px;
}

.new-invoice-checkboxsection {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

}

.new-invoice-checkboxsection label {
    margin-left: 10px;
    font-size: 16px;
}


.new-invoice-div3 button {
    color: var(--body-color);
    background-color: #1e1e1e;
    width: 175px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.new-invoice-div4 { 
    margin-top: 10px;
    grid-area: 4 / 1 / 5 / 2; 
    
}

.new-invoice-div4section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.new-invoice-inputitem {
    width: 300px;
}

.new-invoice-newitem {
    width: 100%;
    margin-top: 15px;
    color:var(--primary-color-light);
    font-weight: 500;
    font-size: 18px;
}
.new-invoice-itemnumber {
    width: 100px;
}
.new-invoice-div4section button{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
}
.bx-check {
    color: white;
    font-size: 30px;
}

.new-invoice-div5 { 
    height: 100px;
    grid-area: 5 / 1 / 6 / 2; 
}

.new-invoice-amountdue {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.new-invoice-amountdue p {
    color: white;
    font-size: 20px;
}

.new-invoice-textamount {
    font-weight: 500;
}

.new-invoice-finalbuttons {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-invoice-finalbuttons button {
    font-size: 18px;
    font-weight: 500;
}

.new-invoice-save {
    width: 150px;
    background-color: #1e1e1e;
    color: white;
}

.new-invoice-discard {
    width: 150px;
    color: var(--primary-color );
}

